html, body{
  height:100%;
  background-color: #fafafa;
}
.container, .container-fluid{
  height:50%;
  transition: all 1s ease-in-out;
}

.search{
  height: 100%;
  align-items: flex-end;
  transition: all 10s ease;
}

.tweets{
  border-top: 5px solid #00aced;
  background-color: #00aced;
  height: 100%;

}

.tweet-div{
  background-color: #fafafa;
  border-radius: 4px;
}

img{
  max-width: 75px;
  width: 100%;
  border-radius: 4px;
  padding: 0 2px;
}

#profile{
  width: 75px;
}
